In [8]:
cd

/home/rupam

In [9]:
cd Desktop

/home/rupam/Desktop

In [10]:
import pandas as pd
import matplotlib.pyplot as plt

In [11]:
df=pd.read_csv('titanic.csv')

In [12]:
df.shape

(891, 12)

In [13]:
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [15]:
from sklearn.preprocessing import LabelEncoder

In [40]:
inputs=df[['Pclass','Age','Fare','Sex']]
inputs.head()

   Pclass   Age     Fare     Sex
0       3  22.0   7.2500    male
1       1  38.0  71.2833  female
2       3  26.0   7.9250  female
3       1  35.0  53.1000  female
4       3  35.0   8.0500    male

In [41]:
le_sex=LabelEncoder()
inputs['sex_n']=le_sex.fit_transform(inputs['Sex'])

/home/rupam/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [44]:
inputs=inputs.drop('Sex',axis='columns')

In [47]:
inputs.head()

   Pclass   Age     Fare  sex_n
0       3  22.0   7.2500      1
1       1  38.0  71.2833      0
2       3  26.0   7.9250      0
3       1  35.0  53.1000      0
4       3  35.0   8.0500      1

In [50]:
target=df.Survived
target.head()

0    0
1    1
2    1
3    1
4    0
Name: Survived, dtype: int64

In [53]:
from sklearn import tree

In [54]:
model=tree.DecisionTreeClassifier()

In [55]:
from sklearn.model_selection import train_test_split

ValueError: Input contains NaN, infinity or a value too large for dtype('float32').

In [67]:
import math
median_age=math.floor(df['Age'].mean())

In [68]:
median_age

29

In [69]:
inputs['Age']=inputs['Age'].fillna(median_age)

In [70]:
x_train,x_test,y_train,y_test=train_test_split(inputs,target,test_size=0.2)

In [71]:
model.fit(x_train,y_train)

DecisionTreeClassifier(class_weight=None, criterion='gini', max_depth=None,
                       max_features=None, max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, presort=False,
                       random_state=None, splitter='best')

In [72]:
y_pred=model.predict(x_test)

In [73]:
model.score(x_test,y_test)

0.7988826815642458

In [74]:
from sklearn.metrics import confusion_matrix

In [75]:
cm=confusion_matrix(y_pred,y_test)

In [76]:
cm

array([[91, 16],
       [20, 52]])